table{
    width: 100%;
    height: 20vh;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-collapse: collapse;
}

tr td{
    width: 170px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}


.container-fluid {
    width: 100%;
    height: 100vh;

    /* box-sizing: border-box; */
}

.header {
    height: 9vh;
}

/* .body-row {
    padding-top: 18px;
    padding-bottom: 18px;
} */

.layer {
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 50vh;
    
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.13), 0 10px 10px rgba(0, 0, 0, 0.11);
}
.odd-layer {
    background-color: #fff;
    height: 200%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.432);
    
}
.info-layer{
    height: 50vh;
}
.small-layer {
    
    height: 25vh;
}

.large-layer {
    
    height:105vh;
}

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    filter: invert(50%);
    
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

} */

input[type='date'] {
    border: none;
    position: relative;
    width: 150px;
    
    padding: 10px;
    background: url() no-repeat right 10px center / 35px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: start;
    font-size: 100%;
    margin-bottom: 20px;
}



input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}


input[type='date']::before {
    content: attr(placeholder);
    width: 100%;
    height: 100%;
}


input[type='date']:valid::before {
    display: none;
}

.color-table{
    --bs-table-bg: #DFCCFB;
    --bs-table-color: white;
}