<!DOCTYPE html>
<!-- layout:decorate => 이 파일은 fragment 폴더 안의 layout.html과 함께 열리는 파일 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/layout}">

<th:block layout:fragment="contentFragment">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
          <svg class="bi">
            <use xlink:href="#calendar3" />
          </svg>
          This week
        </button>
        <input id="search-date" type="date">
      </div>
    </div>
    <div>
      <div class="g-3 mb-3 row">
        <div class="col-xxl-3 col-md-6">
          <div class="h-md-100 card">
            <div class="pb-0 card-header">
              <h6 class="mb-0 mt-2">
                Weekly Sales
                <span>

                </span>
              </h6>
            </div>
            <div class="d-flex justify-content-between align-items-end card-body">
              <div>
                <h2 class="mb-1 text-700 fw-normal lh-1">
                  $47K
                </h2>
                <div class="me-2 fs-11 badge badge-subtle-success rounded-pill">
                  +3.5%
                </div>
              </div>
              <div class="echarts-for-react " _echarts_instance_="ec_1712275954783" size-sensor-id="1"
                style="height: 60px; width: 8.5rem; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                <div
                  style="position: relative; width: 136px; height: 60px; padding: 0px; margin: 0px; border-width: 0px;">
                  그래프
                </div>
                <div class="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div>
      <div class="g-3 mb-3 row">
        <div class="col-xxl-3 col-md-6" >
          <canvas id="line-chart" width="500px" height="300px"></canvas>
        </div>
        <div class="col-xxl-3 col-md-6">
          <canvas id="bar-chart" width="500px" height="300px"></canvas>
        </div>
      </div>
    </div>
    <div>
      3
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    </div>

    <h2>Section title</h2>
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1,001</td>
            <td>random</td>
            <td>data</td>
            <td>placeholder</td>
            <td>text</td>
          </tr>
          <tr>
            <td>1,002</td>
            <td>placeholder</td>
            <td>irrelevant</td>
            <td>visual</td>
            <td>layout</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>data</td>
            <td>rich</td>
            <td>dashboard</td>
            <td>tabular</td>
          </tr>
          <tr>
            <td>1,003</td>
            <td>information</td>
            <td>placeholder</td>
            <td>illustrative</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,004</td>
            <td>text</td>
            <td>random</td>
            <td>layout</td>
            <td>dashboard</td>
          </tr>
          <tr>
            <td>1,005</td>
            <td>dashboard</td>
            <td>irrelevant</td>
            <td>text</td>
            <td>placeholder</td>
          </tr>
          <tr>
            <td>1,006</td>
            <td>dashboard</td>
            <td>illustrative</td>
            <td>rich</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,007</td>
            <td>placeholder</td>
            <td>tabular</td>
            <td>information</td>
            <td>irrelevant</td>
          </tr>
          <tr>
            <td>1,008</td>
            <td>random</td>
            <td>data</td>
            <td>placeholder</td>
            <td>text</td>
          </tr>
          <tr>
            <td>1,009</td>
            <td>placeholder</td>
            <td>irrelevant</td>
            <td>visual</td>
            <td>layout</td>
          </tr>
          <tr>
            <td>1,010</td>
            <td>data</td>
            <td>rich</td>
            <td>dashboard</td>
            <td>tabular</td>
          </tr>
          <tr>
            <td>1,011</td>
            <td>information</td>
            <td>placeholder</td>
            <td>illustrative</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,012</td>
            <td>text</td>
            <td>placeholder</td>
            <td>layout</td>
            <td>dashboard</td>
          </tr>
          <tr>
            <td>1,013</td>
            <td>dashboard</td>
            <td>irrelevant</td>
            <td>text</td>
            <td>visual</td>
          </tr>
          <tr>
            <td>1,014</td>
            <td>dashboard</td>
            <td>illustrative</td>
            <td>rich</td>
            <td>data</td>
          </tr>
          <tr>
            <td>1,015</td>
            <td>random</td>
            <td>tabular</td>
            <td>information</td>
            <td>text</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</th:block>
<th:block layout:fragment="content_js">
  <script src="/js/admin/admin.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>

</html>