<!DOCTYPE html>
<!-- layout:decorate => 이 파일은 fragment 폴더 안의 layout.html과 함께 열리는 파일 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/efh.css">
</th:block>


<th:block layout:fragment="contentFragment">
    <input type="hidden" id="d-day" th:value="${toDay}">
    <div class="container-fluid">
        <div class="row body-row ">
            <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-1 mb-2"
                style="background-color: #8e56ce; color: white; border-bottom: 2px solid #710786;">
                <div class="main-title ps-3" style="display: flex;">
                    <h2>월 평균 실효습도 상세차트</h2>
                    <h4 class="h1" style="font-size: 17px; margin-left: 15px; margin-top: 10px;"> [[${toDay}]]
                    </h4>
                </div>

                <div class="btn-toolbar mb-2 mb-md-0" style="margin-right: 110px;">
                    <input class="text-center" id="search-date" type="date" th:max="${session.maxDay}"
                        th:min="${session.minDay}" style="margin-top: 5px; margin-bottom: 15px;"
                        onchange="selectDay(this)" placeholder="날짜를 선택해주세요." th:value="${toDay}">
                </div>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <div class="row justify-content-center">


                    <div class="col-12">
                        <div>
                            <div style="padding-left: 68px; font-size: 1.5rem; font-weight: 600;">'실효습도'란?</div>
                        </div>
                        <div style="padding-left: 68px;  font-style: italic; color: gray; margin-top: 4px;">
                            화재 예방의 목적으로 수일 전부터의 상대습도에 경과 시간에 따른 가중치를 주어서 산출한<br>
                            목재 등의 건조도를 나타내는 지수를 말합니다.
                        </div>
                        <!-- <div>
                            <div>
                                He = (1−r)×[H0dt + r H1dt + r2 H2dt+r3 H3dt + r4 H4dt ]r = 0.7
                            </div>
                            <div>
                                * 실효습도(He) = (1−r)×[H0dt + r H1dt + r2 H2dt+r3 H3dt + r4H4dt]
                            </div>
                            <div>
                                r = 0.7
                            </div>
                            <div>
                            </div>
                            <div>
                                He : 실효습도
                            </div>
                            <div>
                                H0d : 당일의 상대습도
                            </div>
                            <div>
                                H1d : 1일 전의 상대습도
                            </div>
                            <div>
                                H2d : 2일 전의 상대습도
                            </div>
                            <div>
                                H3d : 3일 전의 상대습도
                            </div>
                            <div>
                                H4d : 4일 전의 상대습도
                            </div>
                        </div> -->
                    </div>
                    

                </div>
            </div>


            <div class="col-12" style="margin-top: 90px; margin-bottom: 70px;">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row" style="padding-left: 8%;">
                            <div style="padding-left: 40px; font-size: 1.2rem; font-weight: 500;">
                                <div style="display: inline-block; width: 700px; margin-bottom: 5px;">한 달의 화재 발생 위험도
                                </div>
                                <div style="display: inline-block; margin-bottom: 5px;">오늘의 화재 발생 위험도</div>
                            </div>
                            <div class="col-5" style="margin-right: 5%;">

                                <div class="row layer small-layer">

                                    <!-- <div class="col-12">
                                        한달의 화재 발생 시 위험도
                                    </div> -->
                                    <div class="col-4 ">
                                        <div class="mt-3" id="show-danger"
                                            style="text-align: end; padding-top: 50px; font-size: 20px;">

                                        </div>

                                    </div>
                                    <div class="col-8">
                                        <div style="width: 100%;" id="danger-pie-container">
                                            <canvas class="chart-slider chart-s2" id="danger-pie-chart"
                                                style="width:50%; margin: 0 auto;"></canvas>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-5 layer small-layer">
                                <div class="row">
                                    <!-- <div class="col-12">
                                        오늘의 화재 발생시 위험도
                                    </div> -->
                                </div>
                                <div class="row" style="margin-top: 50px;">
                                    <div class="col-4">
                                        <div id="show-today-danger" class="col" style="text-align: center;">
                                            <th:block th:if="${toDayEfh.efhDeg=='안전'}">
                                                <span style="font-size: 20px;">[[${toDayEfh.efhDeg}]]</span>
                                                <span style="font-size: 50px;"><i
                                                        class="bi bi-emoji-laughing"></i></span>
                                            </th:block>
                                            <th:block th:if="${toDayEfh.efhDeg=='주의'}">
                                                <span>[[${toDayEfh.efhDeg}]]</span>
                                                <span style="font-size: 50px;"><i
                                                        class="bi bi-emoji-neutral"></i></span>
                                            </th:block>
                                            <th:block th:if="${toDayEfh.efhDeg=='위험'}">
                                                <span>[[${toDayEfh.efhDeg}]]</span>
                                                <span style="font-size: 50px;"><i class="bi bi-emoji-angry"></i></span>
                                            </th:block>
                                            <div>
                                                실효습도 : [[${toDayEfh.efhData}]] %
                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-7 mt-3"
                                        style=" font-size: 0.9rem; font-style: italic; color: gray; margin-top: 4px;">
                                        <div>실효습도 50% 이하 - 화재위험성(낮음)</div>
                                        <div>실효습도 30% 이하 - 화재위험성(높음)</div>
                                        <div>실효습도 35% 이하 건조주의보</div>
                                        <div>실효습도 25% 이하 건조경보</div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 "
                style=" margin-left: -2px; background-color: white; border-top: 1px solid rgba(128, 128, 128, 0.3); border-left: 1px solid rgba(128, 128, 128, 0.3);">
                <div class="row justify-content-center" style="margin-top: 40px;">
                    <div class="col">

                        <div class="row" style="padding-left: 8%; ">
                            <div style="padding-left: 10px; font-size: 1.5rem; font-weight: 500; margin-bottom: 50px;">
                                <div style="display: inline-block; width: 750px; ">일별 실효습도</div>
                                <!-- <div style="display: inline-block; ">일별 화재위험성 여부</div> -->
                                <div
                                    style="padding-left: 15px; font-size: 1.2rem; font-style: italic; color: gray; margin-top: 4px;">
                                    일별 실효습도 및 화재위험성 여부에 대한 정보입니다.
                                </div>
                            </div>
                            <div class="col-5" style="margin-right: 5%;">
                                <div class="layer large-layer">
                                    <div
                                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                        <!-- <h1 class="h2">EFH차트</h1> -->
                                    </div>
                                    <div id="efh-bar-container">
                                        <!-- <span style="color: red;"><canvas class="my-4" id="efh-line-chart" width="50%"
                                                height=""></canvas></span> -->
                                        <span style="color: red;"><canvas class="my-4" id="efh-bar-chart" width="50%"
                                                height="60%"></canvas></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-5">
                                <div class="layer large-layer">
                                    <div
                                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                        <!-- <h1 class="h2">bar차트</h1> -->
                                    </div>
                                    <div>
                                        <table style="text-align: center;">
                                            <thead style="background-color: rgba(196, 163, 240, 0.842); color:white;">
                                                <tr>
                                                    <td>일자</td>
                                                    <td>실효습도</td>
                                                    <td>위험도</td>
                                                </tr>
                                            </thead>
                                            <tbody id="efh-tbody">
                                                <tr th:each="efh : ${efhList}">
                                                    <td>[[${efh.efhDate}]]</td>
                                                    <td>[[${efh.efhData}]] %</td>
                                                    <td>[[${efh.efhDeg}]]</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <script src="/js/efh.js"></script>
</th:block>

</html>