<!DOCTYPE html>
<!-- layout:decorate => 이 파일은 fragment 폴더 안의 layout.html과 함께 열리는 파일 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/layout}">

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴때 같이 실행되는 css -->
  <link rel="stylesheet" href="/css/content/main/main.css">
</th:block>


<th:block layout:fragment="contentFragment">

  <div class="row">
    <div class="col" style="padding-left: 0.5px;">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
        style="background-color: #8e56ce; color: white; border-bottom: 2px solid #710786;">
        <div class="main-title ps-3" style="display: flex;">
          <h2>실내 센서 종합 모니터링</h2>
          <h4 class="h1" style="font-size: 17px; margin-left: 15px; margin-top: 10px;"> [[${toDay}]]</h4>
        </div>

        <div class="btn-toolbar mb-2 mb-md-0" style="margin-right: 110px;">
          <input class="text-center" id="search-date" type="date" th:max="${session.maxDay}" th:min="${session.minDay}"
            style="margin-top: 5px; margin-bottom: 15px;" onchange="infoChange(this)" placeholder="날짜를 선택해주세요."
            th:value="${toDay}">
        </div>
      </div>


      <div class="g-3 mb-3 row justify-content-center">
        <div style="padding-left: 68px; font-size: 1.2rem; font-weight: 600;">
          오늘의 요약 정보
        </div>
        <div style="padding-left: 68px; font-size: 0.9rem; font-style: italic; color: gray; margin-top: 4px;">
          선택한 날짜의 온도, 습도, 불쾌지수에 대한 정보를 볼 수 있습니다.
        </div>
        <div class="col-xxl-3 col-md-6 layer small-layer ">
          <div class="row">
            <div class="col-9">
              <div class="h-md-100" style="padding-left: 26px;">

                <div class="pb-0">
                  <span class="mb-1 mt-2 fs-5" style="color: #10439F;">
                    평균 온습도
                  </span>
                </div>

                <hr
                  style="border: 1.5px solid #10439F; border-radius: 6px; opacity: 1; margin-top: 6px; margin-bottom: 13px;">

                <div class="d-flex justify-content-between align-items-end">
                  <div class="avg-tag">

                    <h5 class="mb-1 fw-normal lh-1 fs-6" style="color: gray;">

                      <div class="allWrap1">
                        <div class="wrap1">
                          <div class="s2">
                            <div>
                              평균온도 [[${avg.tempAvg}]] C °
                            </div>
                          </div>
                          <div class="s2">
                            <div>
                              평균습도 [[${avg.rehAvg}]] %
                            </div>
                          </div>
                        </div>

                      </div>

                    </h5>

                  </div>


                </div>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="row align-items-center" style="height: 100%;">
                <div class="col">
                  <span style="font-size: 2rem; color: #10439F; margin-right: 16px;"><i
                      class="bi bi-thermometer-sun"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-xxl-3 col-md-6 layer small-layer">
          <div class="row">
            <div class="col-9">
              <div class="h-md-100" style="padding-left: 26px;">
                <div class="pb-0">
                  <span class="mb-1 mt-2 fs-5" style="color: #874CCC;">
                    불쾌지수
                  </span>
                </div>

                <hr
                  style="border: 1.5px solid #874CCC; border-radius: 6px; opacity: 1; margin-top: 6px; margin-bottom: 13px;">

                <div class="d-flex justify-content-between align-items-end">
                  <div class="di-tag">
                    <h5 class="mb-1 fw-normal lh-1 fs-6" style="color: gray;">

                      <div class="allWrap">
                        <div class="wrap">
                          <div class="s1">
                            <div>
                              [[${diPerDay[0].type}]]
                              [[${diPerDay[0].diLevel}]]
                            </div>
                          </div>
                          <div class="s1">
                            <div>
                              [[${diPerDay[1].type}]]
                              [[${diPerDay[1].diLevel}]]
                            </div>
                          </div>
                          <div class="s1">
                            <div>
                              [[${diPerDay[2].type}]]
                              [[${diPerDay[2].diLevel}]]
                            </div>
                          </div>
                          <div class="s1">
                            <div>
                              [[${diPerDay[3].type}]]
                              [[${diPerDay[3].diLevel}]]
                            </div>
                          </div>
                        </div>
                      </div>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="row align-items-center" style="height: 100%;">
                <div class="col">
                  <span class="" style="font-size: 2rem; color: #874CCC; margin-right: 16px;"><i
                      class="bi bi-emoji-sunglasses"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--    ------------------------------------------------------------------------------------------------ -->
        <div class="col-xxl-3 col-md-6 layer small-layer ">
          <div class="row">
            <div class="col-9">
              <div class="h-md-100" style="padding-left: 26px;">
                <div class="pb-0">
                  <span class="mb-1 mt-2 fs-5" style="color: #C65BCF;">
                    실효습도
                  </span>
                </div>
                <hr
                  style="border: 1.5px solid #C65BCF; border-radius: 6px; opacity: 1; margin-top: 6px; margin-bottom: 13px;">
                <div class="d-flex justify-content-between align-items-end">
                  <div class="efh-tag">
                    <h5 class="mb-1 fw-normal lh-1 fs-6" style="color: gray;">
                      [[${efh.efhData}]]
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="row align-items-center" style="height: 100%;">
                <div class="col">
                  <span class="" style="font-size: 2rem; color: #C65BCF; margin-right: 16px;"><i
                      class="bi bi-moisture"></i></span>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="col-xxl-3 col-md-6 layer small-layer">
          <div class="row">
            <div class="col-9">
              <div class="h-md-100" style="padding-left: 26px;">
                <div class="pb-0">
                  <span class="mb-1 mt-2 fs-5" style="color: #F27BBD;">
                    최고, 최저 기온
                  </span>
                </div>
                <hr
                  style="border: 1.5px solid #F27BBD; border-radius: 6px; opacity: 1; margin-top: 6px; margin-bottom: 13px;">
                <div class="d-flex justify-content-between align-items-end">
                  <div class="temp-div">
                    <h5 class="mb-1 fw-normal lh-1 fs-6" style="color: gray;">
                      <div class="allWrap2">
                        <div class="wrap2">
                          <div class="s3">
                            <div>
                              최고기온 [[${temps.maxTemp}]] C °
                            </div>
                          </div>
                          <div class="s3">
                            <div>
                              최저기온 [[${temps.minTemp}]] C °
                            </div>
                          </div>
                        </div>
                      </div>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 text-center">
              <div class="row align-items-center" style="height: 100%;">
                <div class="col">
                  <span class="" style="font-size: 2rem; color: #F27BBD; margin-right: 16px;"><i
                      class="bi bi-arrow-down-up"></i></span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- <div> -->
      <div class="chart-big-tag g-3 mb-3 row mt-3 justify-content-center">

        <div style="padding-left: 68px; font-size: 1.2rem; font-weight: 600;">
          <div style="display: inline-block; width: 750px; padding-left: 6px;">일일 측정 시간별 온도</div>
          <div style="display: inline-block; padding-left: 18px;">일일 측정 시간별 습도</div>
        </div>
        <div class="col-xxl-5 col-md-6 border border-2 rounded layer large-layer" id="temp-line-container">
          <!-- 평균 온습도 차트 구역 -->
          <canvas id="temp-line-chart" width="250px" height="150px"></canvas>
        </div>




        <div class="col-xxl-5 col-md-6 border border-2 rounded layer large-layer" id="reh-line-container">
          <!-- 평균 온습도 차트 구역 -->
          <canvas id="reh-line-chart" width="250px" height="150px"></canvas>
        </div>

      </div>
      <!-- </div> -->

      <div class="g-3 mb-3 row mt-3  justify-content-center pt-3"
        style="margin-left: -2px; background-color: white; border-top: 1px solid rgba(128, 128, 128, 0.3); border-left: 1px solid rgba(128, 128, 128, 0.3);">
        <div style="padding-left: 68px; font-size: 1.2rem; font-weight: 600;">
          <div style="display: inline-block; width: 750px; padding-left: 6px;">일일 측정 시간별 불쾌지수</div>
          <div style="display: inline-block; padding-left: 18px;"></div>
        </div>


        <div class="col-xxl-5 col-md-6 border border-2 rounded layer large-layer" id="di-line-container">
          <!-- 불쾌지수 차트 -->
          <canvas id="di-line-chart" width="250px" height="150px"></canvas>

        </div>



        <div class="col-xxl-5 col-md-6 border border-2 rounded layer large-layer">
          <!-- 표 데이터 구역 -->

          <div class="tab-table-all">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <span th:each="tab ,state: ${selectTab}">
                  <button class="nav-link" th:classappend="${state.index == 0 ? 'active' : ''}" id="nav-home-tab"
                    data-bs-toggle="tab" th:data-bs-target="${'#nav-' + state.index}" type="button" role="tab"
                    aria-controls="nav-home" aria-selected="true">[[${tab.type}]]</button>

                </span>
                <!-- <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button> -->
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <!-- 새벽 -->
              <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <table class="table table-sm text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <thead class="color-head">
                    <tr>
                      <td>시간</td>
                      <td>온도</td>
                      <td>습도</td>
                      <td>불쾌지수</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="time : ${timeList}" th:if="${time.type == '새벽'}">
                      <td>[[${time.mesurTime}]]시</td>
                      <td>[[${time.temper}]]</td>
                      <td>[[${time.reh}]]</td>
                      <td>[[${time.di}]]</td>
                    </tr>
                  </tbody>
                </table>

                <div>Summary.</div>

                <table class="table table-bordered text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td class="color-head">최고온도</td>
                      <td>[[${temps.maxTemp}]]</td>
                      <td class="color-head">최저온도</td>
                      <td>[[${temps.minTemp}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">평균 온도</td>
                      <td>[[${avg.tempAvg}]]</td>
                      <td class="color-head">평균 습도</td>
                      <td>[[${avg.rehAvg}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">화재위험성 수치</td>
                      <td>[[${efh.efhData}]]</td>
                      <td class="color-head">화재위험성</td>
                      <td>[[${efh.efhDeg}]]</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 오전 -->
              <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <table class="table table-sm text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <thead class="color-head">
                    <tr>
                      <td>시간</td>
                      <td>온도</td>
                      <td>습도</td>
                      <td>불쾌지수</td>
                    </tr>

                  </thead>
                  <tbody>
                    <tr th:each="time : ${timeList}" th:if="${time.type == '오전'}">
                      <td>[[${time.mesurTime}]]시</td>
                      <td>[[${time.temper}]]</td>
                      <td>[[${time.reh}]]</td>
                      <td>[[${time.di}]]</td>
                    </tr>
                  </tbody>
                </table>

                <div>Summary.</div>

                <table class="table table-bordered text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td class="color-head">최고온도</td>
                      <td>[[${temps.maxTemp}]]</td>
                      <td class="color-head">최저온도</td>
                      <td>[[${temps.minTemp}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">평균 온도</td>
                      <td>[[${avg.tempAvg}]]</td>
                      <td class="color-head">평균 습도</td>
                      <td>[[${avg.rehAvg}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">화재위험성 수치</td>
                      <td>[[${efh.efhData}]]</td>
                      <td class="color-head">화재위험성</td>
                      <td>[[${efh.efhDeg}]]</td>
                    </tr>
                  </tbody>

                </table>
              </div>
              <!-- 오후 -->
              <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <table class="table table-sm text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <thead class="color-head">
                    <tr>
                      <td>시간</td>
                      <td>온도</td>
                      <td>습도</td>
                      <td>불쾌지수</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="time : ${timeList}" th:if="${time.type == '오후'}">
                      <td>[[${time.mesurTime}]]시</td>
                      <td>[[${time.temper}]]</td>
                      <td>[[${time.reh}]]</td>
                      <td>[[${time.di}]]</td>
                    </tr>
                  </tbody>
                </table>

                <div>Summary.</div>

                <table class="table table-bordered text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td class="color-head">최고온도</td>
                      <td>[[${temps.maxTemp}]]</td>
                      <td class="color-head">최저온도</td>
                      <td>[[${temps.minTemp}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">평균 온도</td>
                      <td>[[${avg.tempAvg}]]</td>
                      <td class="color-head">평균 습도</td>
                      <td>[[${avg.rehAvg}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">화재위험성 수치</td>
                      <td>[[${efh.efhData}]]</td>
                      <td class="color-head">화재위험성</td>
                      <td>[[${efh.efhDeg}]]</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <table class="table  table-sm text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <thead class="color-head">
                    <tr>
                      <td>시간</td>
                      <td>온도</td>
                      <td>습도</td>
                      <td>불쾌지수</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="time : ${timeList}" th:if="${time.type == '야간'}">
                      <td>[[${time.mesurTime}]]시</td>
                      <td>[[${time.temper}]]</td>
                      <td>[[${time.reh}]]</td>
                      <td>[[${time.di}]]</td>
                    </tr>
                  </tbody>
                </table>

                <div>Summary.</div>

                <table class="table table-bordered text-center">
                  <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td class="color-head">최고온도</td>
                      <td>[[${temps.maxTemp}]]</td>
                      <td class="color-head">최저온도</td>
                      <td>[[${temps.minTemp}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">평균 온도</td>
                      <td>[[${avg.tempAvg}]]</td>
                      <td class="color-head">평균 습도</td>
                      <td>[[${avg.rehAvg}]]</td>
                    </tr>
                    <tr>
                      <td class="color-head">화재위험성 수치</td>
                      <td>[[${efh.efhData}]]</td>
                      <td class="color-head">화재위험성</td>
                      <td>[[${efh.efhDeg}]]</td>
                    </tr>
                  </tbody>
                </table>
                </table>
              </div>
            </div>

          </div>




          <div class="table-responsive small">

          </div>
        </div>
      </div>


    </div>
  </div>

  <div>


  </div>



  </div>
  </div>

</th:block>
<th:block layout:fragment="content_js">
  <script src="/js/content/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>

</html>