<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="sideFragment">
      <div class="row">
          <div class="col sidebar"  style=" background-color: #fff; padding-left: 20px; width: 260px;">
            <div class="offcanvas-md"  id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
              <!-- <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
              </div> -->
              <!-- <div class="offcanvas-body" style="height: 250vh; width: 260px;">
                <ul class="nav flex-column" style="width: 100%; background-color: #fff; padding-left: 20px;"> -->
              <div class="offcanvas-body" style="height: 300vh;;">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="padding: 20px; height: 100px; font-size: 22px; ">
                      <svg class="bi"><use xlink:href="#house-fill"/></svg>
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/charts/test" style="height: 50px; width: 100%; display: inline-block; font-size: 20px;">
                      <svg class="bi"><use xlink:href="#graph-up"/></svg>
                      불쾌지수
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/charts/efh" style="height: 50px; width: 100%; display: inline-block; font-size: 20px;">
                      <svg class="bi"><use xlink:href="#graph-up"/></svg>
                      실효습도
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        
      </div>
        
    </th:block>

</html>