<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        table tr td {
            border: 1px solid black
        }
    </style>
</head>

<body>
    <table style="width: 1000px;height: 500px;">
        <tr>
            <td>
                <canvas id="line-chart" width="400px" height="300px"></canvas>
            </td>
            <td>
                <canvas id="bar-chart" width="400px" height="300px"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <canvas id="pie-chart" width="150px" height="100px"></canvas>

            </td>
            <td>
                <canvas id="radar-chart" width="150px" height="100px"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <canvas id="polar-chart" width="500px" height="300px"></canvas>

            </td>
            <td>
                <canvas id="doughnut-chart" width="500px" height="300px"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <canvas id="bar-chart-grouped" width="500px" height="300px"></canvas>
            </td>
            <td>
                <canvas id="mixed-chart" width="500px" height="300px"></canvas>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <canvas id="bubble-chart" width="500px" height="300px"></canvas>
            </td>
            
        </tr>
    </table>
    <div>
    </div>

</body>
<script src="/js/main.js"></script>

</html>