<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="chartsMapper">
    <resultMap id="dailyTemp" type="com.green.WildHorse.charts.vo.TempVO">
        <id column="MESUR_DY" property="mesurDy"/>
        <result column="MAX_TEMP" property="maxTemp"/>
        <result column="MIN_TEMP" property="minTemp"/>
    </resultMap>

    <resultMap id="di" type="com.green.WildHorse.charts.vo.DiVO">
        <id column="NO" property="no"/>
        <result column="MESURDY" property="mesurDy"/>
        <result column="MESURTIME" property="mesurTime"/>
        <result column="TYPE" property="type"/>
        <result column="DI_LEVEL" property="diLevel"/>
        <result column="DI" property="di"/>
        <result column="REH" property="reh"/>
        <result column="TEMPER" property="temper"/>
    </resultMap>

    <resultMap id="efh" type="com.green.WildHorse.charts.vo.EfhVO">
        <id column="EFH_NUM" property="efhNum"/>
        <result column="EFH_DATE" property="efhDate"/>
        <result column="EFH_DATA" property="efhData"/>
        <result column="EFH_DEG" property="efhDeg"/>
    </resultMap>

    <resultMap id="reh" type="com.green.WildHorse.charts.vo.TempRegAvgVO">
        <id column="TR_NUM" property="trNum"/>
        <result column="TR_DATE" property="trDate"/>
        <result column="TEMP_AVG" property="tempAvg"/>
        <result column="REH_AVG" property="rehAvg"/>
    </resultMap>

    <resultMap id="tempRegDiAvg" type="com.green.WildHorse.charts.vo.TempRegDiAvgVO">
        <id column="NO" property="no"/>
        <result column="MONTH" property="month"/>
        <result column="TEMPER_AVG" property="temperAvg"/>
        <result column="REH_AVG" property="rehAvg"/>
        <result column="DI_AVG" property="diAvg"/>
    </resultMap>

    <select id="selectDailyTemp" resultMap="dailyTemp">
        SELECT DATE_FORMAT(MESUR_DY ,'%Y-%m-%d')MESUR_DY
            ,MAX_TEMP
            ,MIN_TEMP
        FROM DAILY_TEMPS
        WHERE MESUR_DY = #{toDay}
    </select>

    <select id="selectDi" resultMap="di">
        SELECT NO
        , MESURDY
        , DI_LEVEl
        , ROUND(AVG(DI), 2) DI
        , ROUND(AVG(REH),2) REH
        , ROUND(AVG(TEMPER),2) TEMPER
        FROM discomfort_index
        GROUP BY MESURDY, DI_LEVEL;
    </select>

    <select id="mainEfh" resultMap="efh">
        SELECT DATE_FORMAT(EFH_DATE ,'%Y-%m-%d')EFH_DATE
            ,efh_data
            ,efh_deg
            ,efh_num
        FROM efh
        WHERE DATE_FORMAT(EFH_DATE ,'%Y-%m-%d') = #{toDay}
    </select>

    <select id="selectReh" resultMap="reh">
        SELECT TR_NUM
        ,DATE_FORMAT(TR_DATE ,'%Y-%m-%d')TR_DATE
        ,TEMP_AVG
        ,REH_AVG
        FROM TEMP_REH_AVG
    </select>

    <select id="selectTime" resultMap="di">
        SELECT
        REH
        ,TEMPER
        ,LPAD((MESURTIME/100), 2, '0') AS MESURTIME
        ,DATE_FORMAT(MESURDY,'%Y-%m-%d')MESURDY
        ,DI
        ,type
        FROM discomfort_index
        WHERE MESURTIME % 100= 0
        AND DATE_FORMAT(MESURDY,'%Y-%m-%d')= #{toDay}
    </select>

    <select id="mainReh" resultMap="reh">
        SELECT TR_NUM
        ,DATE_FORMAT(TR_DATE ,'%Y-%m-%d')TR_DATE
        ,TEMP_AVG
        ,REH_AVG
        FROM TEMP_REH_AVG
        WHERE DATE_FORMAT(TR_DATE ,'%Y-%m-%d') = #{toDay}
    </select>
    <select id="toDay" resultType="String">
        SELECT DATE_FORMAT(20211220,'%Y-%m-%d')
    </select>
    <select id="detailEfhList" resultMap="efh">
        SELECT DATE_FORMAT(EFH_DATE ,'%m/%d')EFH_DATE
            ,efh_data
            ,efh_deg
            ,efh_num
        FROM efh
        WHERE DATE_FORMAT(EFH_DATE ,'%Y-%m') = DATE_FORMAT(#{selectDay} ,'%Y-%m')
    </select>

    <select id="selectPerDay" resultMap="di">
        SELECT MESURDY
        , DI_LEVEl
        , TYPE
        , ROUND(AVG(DI), 2) DI
        FROM discomfort_index
        GROUP BY MESURDY, TYPE
        HAVING DATE_FORMAT(MESURDY,'%Y-%m-%d')=#{toDay}
    </select>


    <select id="selectTab" resultMap="di">
        SELECT
        TYPE
        , MESURDY
        , MESURTIME
        , REH
        , TEMPER
        , ROUND(AVG(DI), 2) DI
        FROM discomfort_index
        GROUP BY TYPE, MESURDY
        HAVING DATE_FORMAT(MESURDY,'%Y-%m-%d')=#{toDay}
        ORDER BY CAST(mesurtime AS TIME);

    </select>

    <!-- 비디에 저장된 년월 조회 (셀렉트 박스 사용 용도) -->
    <select id="getMonthList" resultType="String">
        SELECT CONCAT(SUBSTRING(mesurdy, 1, 4), '-', SUBSTRING(mesurdy, 5, 2)) AS MONTH
        FROM discomfort_index
        GROUP BY MONTH
    </select>

    <!-- 불쾌지수 페이지에서 한 달동안의 일일 평균 온도, 습도, di 조회를 위한 쿼리 -->
    <select id="getTempRegDiAvg" resultMap="tempRegDiAvg">
        SELECT MESURDY AS MONTH
        , ROUND(AVG(TEMPER), 2) AS TEMPER_AVG
        , ROUND(AVG(REH), 2) AS REH_AVG
        , ROUND(AVG(DI), 2) AS DI_AVG
        FROM discomfort_index
        WHERE SUBSTRING(mesurdy, 1, 6) = #{month}
        GROUP BY mesurdy
    </select>

    <select id="maxDay" resultType="string">
        SELECT DATE_FORMAT(MAX(mesur_dy),'%Y-%m-%d')
        FROM DAILY_TEMPS

    </select><select id="minDay" resultType="string">
        SELECT DATE_FORMAT(MIN(mesur_dy),'%Y-%m-%d')
        FROM DAILY_TEMPS
    </select>

</mapper>































