<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="chartsMapper">
    <resultMap id="dailyTemp" type="com.green.WildHorse.charts.vo.TempVO">
        <id column="MESUR_DY" property="mesurDy"/>
        <result column="MAX_TEMP" property="maxTemp"/>
        <result column="MIN_TEMP" property="minTemp"/>
    </resultMap>

    <resultMap id="di" type="com.green.WildHorse.charts.vo.DiVO">
        <id column="NO" property="no"/>
        <result column="MESURDY" property="mesurDy"/>
        <result column="TYPE" property="type"/>
        <result column="DI_LEVEL" property="diLevel"/>
        <result column="DI" property="di"/>
        <result column="REH" property="reh"/>
        <result column="TEMPER" property="temper"/>
    </resultMap>
    <resultMap id="efh" type="com.green.WildHorse.charts.vo.EfhVO">
        <id column="EFH_NUM" property="efhNum"/>
        <result column="EFH_DATE" property="efhDate"/>
        <result column="EFH_DATA" property="efhData"/>
        <result column="EFH_DEG" property="efhDeg"/>

    </resultMap>

    <select id="selectDailyTemp" resultMap="dailyTemp">
        SELECT DATE_FORMAT(MESUR_DY ,'%m-%d')MESUR_DY
            ,MAX_TEMP
            ,MIN_TEMP
        FROM DAILY_TEMPS
    </select>

    <select id="selectDi" resultMap="di">
        SELECT NO
        , MESURDY
        , DI_LEVEl
        , ROUND(AVG(DI), 2) DI
        , ROUND(AVG(REH),2) REH
        , ROUND(AVG(TEMPER),2) TEMPER
        FROM discomfort_index
        GROUP BY MESURDY, DI_LEVEL;
    </select>

    <select id="selectEfh" resultMap="efh">
        SELECT DATE_FORMAT(efh_date ,'%m-%d')efh_date
            ,efh_data
            ,efh_deg
            ,efh_num
        FROM efh
    </select>

</mapper>































